body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: #fff;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h1,
h2,
h3 {
  color: #61dafb;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #212121;
  border-radius: 8px;
  margin-top: 20px;
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.project {
  margin-bottom: 20px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  height: 20px;
}

.social-icons a {
  margin-right: 10px;
  color: #ddd; /* Adjust the color as needed */
  font-size: 24px;
}
